{% extends "base.html" %}
{% load static %}
{% block head_css %}
    {% include "sidebar_theme_css.html" %}
{% endblock %}

{% block content %}
{% if form.errors %}
<p>Utilisateur et/ou mot de passe incorrecte</p>
{% endif %}

<form class="form-signin" method="post" action="{% url 'login_view' %}">
{% csrf_token %}
<div id="logo-container">
    <a href="javascript:;">
        <img id="logo-inviseo-login" src="{% static "pyscada/img/logo-inviseo-blue.png" %}"/>
    </a>
</div>
<h2 class="form-signin-heading">Inviseo</h2>
<input type="text" class="form-control" placeholder="{{ form.username.label }}" name="username" required="" autofocus="" id="{{ form.username.id_for_label }}">
<input type="password" class="form-control" placeholder="{{ form.password.label }}" name="password" required="" id="{{ form.password.id_for_label }}">
<button class="btn btn-lg btn-inviseo btn-block" type="submit">Connexion</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
</div>
{% endblock %}
{% block script_bottom %}
        $( document ).ready(function() {
            // Handler for .ready() called.
            $(".loadingAnimation").parent().hide();
            $(".AutoUpdateStatus").parent().parent().hide();
            $(".ReadAllTask").parent().parent().hide();
            $(".AutoUpdateButtonParent").hide();
        });
{% endblock %}
