{% load i18n static %}
{% block navbar %}
    <!-- Side bar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            {% block sidebar_logo %}
                <a href="javascript:;">
                    <img id="logo-inviseo" src="{% static "pyscada/img/logo-inviseo-light.png" %}"
                         alt="logo">
                </a>
            {% endblock %}
            {% block navbar_logo %}{% endblock %}
        </div>
        <ul class="list-unstyled components">
            {% block top_menu_left %}
                {% for page in page_list %}
                    <li>
                        <a href="#{{ page.link_title }}" onclick="changeActiveLink(this)" class="hidden-xs">{{ page.title|safe }}</a>
                    </li>
                {% endfor %}
            {% endblock %}
        </ul>
    </nav>
{% endblock %}
